/* CSS Document */
/*CSS 初始化*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer!important; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:20px/1.8;margin:0px,0px;padding:0px,0px;font-family:"Microsoft YaHei"!important;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

.jomb{
	width: 100%;
	height: 400px;
	background: url("../imgs/bg01.jpg") no-repeat;
	background-size: cover;
}
.jomb .logo{
	width: 200px;
	height: 210px;
	position: relative;
	top: 20px;
	margin-left: 30px;
	float: left;
	background: url("../imgs/logo.png") no-repeat;
}
.jomb a{
	width: 70px;
	height: 35px;
	float: right;
	margin-top: 40px;
	margin-right: 40px;
	border: 2px solid rgb(239,118,116);
	border-radius: 10px;
	text-align: center;
	line-height: 35px;
	color: rgb(116,105,114);
	display: block;
}
.jomb a:hover{
	background-color: rgb(239,118,116);
	color: white;
}
.member{
	height: 400px;
	width: 20%;
	float: left;
}
.member img{
	margin-top: 20%;
	margin-left: 18%;
}
.member ul{
	font-weight: bolder;
	color: rgb(91,76,92);
	margin-left: 30%;
	margin-top: 12%;
}